<h1>Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Learning-Objectives" data-toc-modified-id="Learning-Objectives-1">Learning Objectives</a></span></li><li><span><a href="#Module-3---R-programming-fundamentals" data-toc-modified-id="Module-3---R-programming-fundamentals-2">Module 3 - R programming fundamentals</a></span></li><li><span><a href="#Module-4---Working-with-data-in-R" data-toc-modified-id="Module-4---Working-with-data-in-R-3">Module 4 - Working with data in R</a></span></li><li><span><a href="#Module-5---Strings-and-Dates-in-R" data-toc-modified-id="Module-5---Strings-and-Dates-in-R-4">Module 5 - Strings and Dates in R</a></span></li><li><span><a href="#Module-1---R-basics" data-toc-modified-id="Module-1---R-basics-5">Module 1 - R basics</a></span><ul class="toc-item"><li><span><a href="#Math,-Variables,-and-Strings" data-toc-modified-id="Math,-Variables,-and-Strings-5.1">Math, Variables, and Strings</a></span></li><li><span><a href="#Vectors-and-Factors" data-toc-modified-id="Vectors-and-Factors-5.2">Vectors and Factors</a></span><ul class="toc-item"><li><span><a href="#Vectors" data-toc-modified-id="Vectors-5.2.1">Vectors</a></span></li><li><span><a href="#Factors" data-toc-modified-id="Factors-5.2.2">Factors</a></span></li><li><span><a href="#Summarizing-Factors" data-toc-modified-id="Summarizing-Factors-5.2.3">Summarizing Factors</a></span></li><li><span><a href="#Ordered-Factor" data-toc-modified-id="Ordered-Factor-5.2.4">Ordered Factor</a></span></li></ul></li><li><span><a href="#Vector-Operations" data-toc-modified-id="Vector-Operations-5.3">Vector Operations</a></span><ul class="toc-item"><li><span><a href="#Naming-Elements-of-a-Vector" data-toc-modified-id="Naming-Elements-of-a-Vector-5.3.1">Naming Elements of a Vector</a></span></li><li><span><a href="#Length-of-a-Vector" data-toc-modified-id="Length-of-a-Vector-5.3.2">Length of a Vector</a></span></li><li><span><a href="#Sort-a-Vector" data-toc-modified-id="Sort-a-Vector-5.3.3">Sort a Vector</a></span></li><li><span><a href="#Smallest-and-Largest-Number" data-toc-modified-id="Smallest-and-Largest-Number-5.3.4">Smallest and Largest Number</a></span></li><li><span><a href="#Average-of-Numbers" data-toc-modified-id="Average-of-Numbers-5.3.5">Average of Numbers</a></span></li><li><span><a href="#Vector-Summary" data-toc-modified-id="Vector-Summary-5.3.6">Vector Summary</a></span></li><li><span><a href="#Vector-Index" data-toc-modified-id="Vector-Index-5.3.7">Vector Index</a></span></li><li><span><a href="#Missing-Values" data-toc-modified-id="Missing-Values-5.3.8">Missing Values</a></span></li><li><span><a href="#Vector-Arithmetic" data-toc-modified-id="Vector-Arithmetic-5.3.9">Vector Arithmetic</a></span></li></ul></li></ul></li><li><span><a href="#Review-Questions" data-toc-modified-id="Review-Questions-6">Review Questions</a></span></li></ul></div>

# R 101

## Learning Objectives

* The basics of R
* Writing your own R scripts
* How to use R to solve problems related to movies data
* The fundamentals of R Syntax
* Vectors, lists, matrix, arrays and dataframes
* Reading and writing data in R

## Module 4 - Working with data in R

* Reading CSV and Excel Files
* Reading text files
* Writing and saving data objects to file in R

## Module 5 - Strings and Dates in R

* String operations in R
* Regular Expressions
* Dates in R

## Module 1 - R basics

* Math, Variables, and Strings
* Vectors and Factors
* Vector operations

### Math, Variables, and Strings

In [3]:
# Variable assignment
x <- 139 + 121
x

[1] 260

In [4]:
# Number of hours
y <- x / 60
y

[1] 4.333333

In [5]:
# Variable reassignment
x <- x / 60
x

[1] 4.333333

To remove a variable from memory use:

`rm(my_variable)`

In [10]:
# String in R
movie <- 'Toy Story'
movie

[1] "Toy Story"

### Vectors and Factors

#### Vectors

A **vector** is a one-dimensional array of objects. There is no restriction on the type or number of elements that a vector can contain.

In [1]:
# Numeric vector
c(1985, 1999, 2010, 2002)

[1] 1985 1999 2010 2002

In [2]:
# Character vector
c('Toy Story', 'Akira', 'The Artist', 'City of God')

[1] "Toy Story"   "Akira"       "The Artist"  "City of God"

In [4]:
# Logical vector
movie_ratings <- c(7.3, 8.5, 8.3, 7.5, 6.9, 5.2, 8.2, 8.0, 7.9, 9.3)
movie_ratings

 [1] 7.3 8.5 8.3 7.5 6.9 5.2 8.2 8.0 7.9 9.3

In [5]:
movie_ratings > 7.5

 [1] FALSE  TRUE  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

#### Factors

**Factors** are variables that can take on a limited number of values

In [7]:
genre_vector <- c('comedy', 'comedy', 'Animation', 'Animation', 'Crime')
genre_vector

[1] "comedy"    "comedy"    "Animation" "Animation" "Crime"

In [8]:
# Encode `genre_vector` as a factor:

genre_factor <- factor(genre_vector)
genre_factor

[1] comedy    comedy    Animation Animation Crime
Levels: Animation Crime comedy

_The output shows 3 levels which correspond to the 3 unique categories of the vector: Animation, comedy, and crime_

#### Summarizing Factors

In [9]:
# The summary function on a vector simply provides basic information about the vector's structure and content.

summary(genre_vector)

   Length     Class      Mode
        5 character character

In [10]:
# The summary function on a factor shows the number of occurrences of each of the component categories

summary(genre_factor)

Animation     Crime    comedy
        2         1         2

There are two types of categorical variables
* **Nominal categorical variables**
    * do not have any implied order, e.g. there is no clear ordering between movie categories like "Animation" and "comedy"
* **Ordinal variables**
    * have an implied order

#### Ordered Factor

In the following example, the categorical variables have an implied order

In [12]:
movielength_vector <- c('Very short', 'Short', 'Medium', 'Short', 'Long', 'Very short', 'Very Long')
movielength_vector

[1] "Very short" "Short"      "Medium"     "Short"      "Long"
[6] "Very short" "Very Long"

In [15]:
# To encode the above information into a factor, we need to pass two additional arguments:

mvlength_factor <- factor(movielength_vector,
                          ordered = TRUE,
                          levels = c('Very short', 'Short', 'Medium', 'Long', 'Very Long')) # the categories are listed in the order that we want
mvlength_factor

[1] Very short Short      Medium     Short      Long       Very short Very Long
Levels: Very short < Short < Medium < Long < Very Long

### Vector Operations

#### Naming Elements of a Vector

In [3]:
# Vector containing the production years of four movies:

year <- c(1985, 1999, 2010, 2002)
year

[1] 1985 1999 2010 2002

In [9]:
# Use the names function to map a title to each year:

names(year) <- c("The Breakfast Club", "American Beauty", "Black Swan", "Chicago")
year["Black Swan"]

Black Swan
      2010

#### Length of a Vector

In [12]:
year <- c(1985, 1999, 2010, 2002)
length(year)

[1] 4

#### Sort a Vector

In [14]:
year <- c(1985, 1999, 2010, 2002)
names(year) <- c("The Breakfast Club", "American Beauty", "Black Swan", "Chicago")
year_sorted <- sort(year)
year_sorted

The Breakfast Club    American Beauty            Chicago         Black Swan
              1985               1999               2002               2010

#### Smallest and Largest Number

In [18]:
year <- c(1985, 1999, 2010, 2002)
min(year)
max(year)

[1] 1985

[1] 2010

#### Average of Numbers

In [19]:
# Cost of three movies, in millions:

cost_2014 <- c(8.6, 8.5, 8.1)

# Use the sum function to find the average cost:

sum(cost_2014)/3

[1] 8.4

In [21]:
# Alternatively use the mean function:

mean(cost_2014)

[1] 8.4

#### Vector Summary

In [22]:
# Display descriptive statistics about the vector:

cost_2014 <- c(8.6, 8.5, 8.1)
summary(cost_2014)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   8.10    8.30    8.50    8.40    8.55    8.60

#### Vector Index

In [23]:
# Retrieve the second element of the vector:

cost_2014 <- c(8.6, 8.5, 8.1)
cost_2014[2]

[1] 8.5

In [24]:
# Retrieve the second and third elements of the vector:

cost_2014 <- c(8.6, 8.5, 8.1)
cost_2014[c(2,3)]

[1] 8.5 8.1

In [25]:
# Retrieve elements by specifying a range:

cost_2014 <- c(8.6, 8.5, 8.1)
cost_2014[1:3]

[1] 8.6 8.5 8.1

In [26]:
# To remove the element in index "1":

titles <- c("Black Swan", "Casino", "City of God", "Jumanji", "Toy Story")
titles[-1]

[1] "Casino"      "City of God" "Jumanji"     "Toy Story"

In [27]:
# Apply a logical operation on each element:

cost_2014 <- c(8.6, 8.5, 8.1)
cost_2014 > 8.3

[1]  TRUE  TRUE FALSE

In [28]:
# Retrieve elements from the vector that are TRUE:

cost_2014 <- c(8.6, 8.5, 8.1)
cost_2014[cost_2014 > 8.3]

[1] 8.6 8.5

#### Missing Values

R handles missing values through the symbol `"NA"`. In the following example, indices with missing values might be movies that have an unknown age restriction.

In [30]:
age_restriction <- c(14, 12, 10, NA, 18, NA)
age_restriction

[1] 14 12 10 NA 18 NA

#### Vector Arithmetic

All vector arithmetic operations are performed **element-wise**. The first element, 28, is simply the product of the **first element of vector 1, and the first element of vector 2**, and so on.

In [33]:
age_restriction <- c(14, 16, 12, 10, 18, 18)
sequences <- c(2, 3, 0, 2, 6, 3)

multiply <- age_restriction * sequences
multiply

[1]  28  48   0  20 108  54

In [34]:
# Each element is multiplied by 10

cost_2014 <- c(8.6, 8.5, 8.1)
cost_2014 * 10

[1] 86 85 81

## Review Questions

1. Vectors in R can be which of the following types?

* **Answer:** Character, Logical, Numeric

2. What would be the output in R given: `c(1,2) == 1`?

* **Answer:** TRUE FALSE

3. How would you retrieve the items larger than 5 from the following vector: `costs <- c(3, 15, 3, 10)`?

* **Answer:** `costs[costs > 5]`