<h1>Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Module-3---R-programming-fundamentals" data-toc-modified-id="Module-3---R-programming-fundamentals-1">Module 3 - R programming fundamentals</a></span></li><li><span><a href="#Conditions-and-Loops" data-toc-modified-id="Conditions-and-Loops-2">Conditions and Loops</a></span><ul class="toc-item"><li><span><a href="#Conditional-Statements" data-toc-modified-id="Conditional-Statements-2.1">Conditional Statements</a></span><ul class="toc-item"><li><span><a href="#If-and-Else-Statements" data-toc-modified-id="If-and-Else-Statements-2.1.1">If and Else Statements</a></span></li></ul></li><li><span><a href="#Comparison-and-Logical-Operators" data-toc-modified-id="Comparison-and-Logical-Operators-2.2">Comparison and Logical Operators</a></span></li><li><span><a href="#For-Loops" data-toc-modified-id="For-Loops-2.3">For Loops</a></span></li><li><span><a href="#While-Loops" data-toc-modified-id="While-Loops-2.4">While Loops</a></span></li></ul></li><li><span><a href="#Functions-in-R" data-toc-modified-id="Functions-in-R-3">Functions in R</a></span><ul class="toc-item"><li><span><a href="#Pre-defined-functions" data-toc-modified-id="Pre-defined-functions-3.1">Pre-defined functions</a></span></li><li><span><a href="#User-defined-functions" data-toc-modified-id="User-defined-functions-3.2">User-defined functions</a></span></li><li><span><a href="#Returning-values-explicitly" data-toc-modified-id="Returning-values-explicitly-3.3">Returning values explicitly</a></span></li><li><span><a href="#If-/-Else-in-functions" data-toc-modified-id="If-/-Else-in-functions-3.4">If / Else in functions</a></span></li><li><span><a href="#Default-input-values-in-functions" data-toc-modified-id="Default-input-values-in-functions-3.5">Default input values in functions</a></span></li><li><span><a href="#Functions-within-other-functions" data-toc-modified-id="Functions-within-other-functions-3.6">Functions within other functions</a></span></li><li><span><a href="#Global-and-local-variables" data-toc-modified-id="Global-and-local-variables-3.7">Global and local variables</a></span></li></ul></li></ul></div>

## Module 3 - R programming fundamentals

* Conditions and loops
* Functions in R
* Objects and Classes
* Debugging

## Conditions and Loops

### Conditional Statements

#### If and Else Statements

In [5]:
movie_year <- 2002

if(movie_year > 2000) {
    print('Movie year is greater than 2000')
}

[1] "Movie year is greater than 2000"

In [6]:
movie_year <- 1997

if(movie_year > 2000) {
    print('Movie year is greater than 2000')
} else {
    print('Movie year is not greater than 2000')
}

[1] "Movie year is not greater than 2000"

### Comparison and Logical Operators

Operator | Meaning
:--------|:-----------
==  | Is equal to?
!=  | Is not equal to?
>   | Greater than?
<   | Less than?
>=  | Greater than or equal to?
<=  | Less than or equal to?
&   | And
|   | Or
!   | Not
%in%| Is found in?

### For Loops

**"For"** loops can be used to cycle through all the values in a vector.

years <- c(1995, 1998, 1985, 2011, 1936, 1999)

for (yr in years) {
    print(yr)
}

### While Loops

A **"while"** loop will continue to execute so long as the condition inside the parentheses remains true.

In [11]:
count <- 1

while (count <= 5) {
    print(c("Iteration number:", count))
    count <- count + 1
}

[1] "Iteration number:" "1"
[1] "Iteration number:" "2"
[1] "Iteration number:" "3"
[1] "Iteration number:" "4"
[1] "Iteration number:" "5"

## Functions in R

- Function: reusable block of code
    1. Pre-defined functions
        - either built into R or provided in a separate package
   
    2. User-defined functions

### Pre-defined functions

In [12]:
# Use the built-in "mean" function to find the average of movie ratings
ratings <- c(8.7, 6.9, 8.5)

mean(ratings)

# The R "sort" function is used to order the elements of a vector
sort(ratings)

# To sort in descending order, add a second parameter
sort(ratings, decreasing=TRUE)

[1] 8.033333

[1] 6.9 8.5 8.7

[1] 8.7 8.5 6.9

### User-defined functions

In [13]:
# Define a function to print 'Hello World' to the screen

printHelloWorld <- function() {
    print('Hello World')
}

# Call the function
printHelloWorld()

[1] "Hello World"

In [14]:
# Define a function that takes two arguments

add <- function(x,y) {
    x + y
}

add(3,4)

[1] 7

### Returning values explicitly

- The `return` statement can be used to explicitly output a value from the function.
- When `return` is encountered, anywhere in the function, the corresponding value will be output and the function will exit
- If the function lacks a return statement, then R will automatically return the value of the last evaluated expression

### If / Else in functions

In [20]:
isGoodRating <- function(rating) {
    if (rating < 7) {
        return("NO")
    } else {
        return("YES")
    }
}

isGoodRating(6)

isGoodRating(9.5)

[1] "NO"

[1] "YES"

### Default input values in functions

In [21]:
# Set a default value for the function argument
isGoodRating <- function(rating, threshold = 7) {
    if(rating < threshold) {
        return("NO")
    } else {
        return("YES")
    }
}

# When calling this function, just specify the "rating" parameter
isGoodRating(8)

[1] "YES"

In [22]:
# To override the default value:

isGoodRating(8, threshold = 8.5)

[1] "NO"

### Functions within other functions

In [23]:
# code to download the movies dataset
download.file("https://ibm.box.com/shared/static/n5ay5qadfe7e1nnsv5s01oe1x62mq51j.csv", destfile="movies-db.csv")

In [24]:
movies_data <- read.csv("movies-db.csv", header=TRUE, sep=",")
head(movies_data)

  name               year length_min genre     average_rating cost_millions
1 Toy Story          1995  81        Animation 8.3            30.0
2 Akira              1998 125        Animation 8.1            10.4
3 The Breakfast Club 1985  97        Drama     7.9             1.0
4 The Artist         2011 100        Romance   8.0            15.0
5 Modern Times       1936  87        Comedy    8.6             1.5
6 Fight Club         1999 139        Drama     8.9            63.0
  foreign age_restriction
1 0        0
2 1       14
3 0       14
4 1       12
5 0       10
6 0       18

In [29]:
isGoodRating <- function(rating, threshold = 7) {
    if(rating < threshold) {
        return("NO")
    } else {
        return("YES")
    }
}

watchMovie <- function(moviename, my_threshold = 8) {
    rating <- movies_data[movies_data[,1] == moviename, "average_rating"] # Find a matching name in the "name" column,
    isGoodRating(rating, threshold = my_threshold)                        # then find the "average rating" in the
}                                                                         # corresponding row

In [30]:
watchMovie("Toy Story")

[1] "YES"

In [31]:
watchMovie("The Breakfast Club")

[1] "NO"

### Global and local variables

In [33]:
# In this function, "y" is defined as a global variable and can be accessed outside the function. "temp" is a local
# variable and can only be accessed inside the function.

myFunction <- function() {
    y <<- 3.14
    temp <- "Hello World"
    return(temp)
}

myFunction()

[1] "Hello World"

In [34]:
# Variable "y" can be accessed outside the function
print(y)

[1] 3.14